:root {
    font-family: 'Roboto', sans-serif;
    color:#464646;
}

body {
    min-width: 422px;
}
.grid {
    display:grid;
    /* 8 equal columns, 1fr= fractional unit */
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100vw; 
    /* horisonal */
    justify-items: stretch;
    /* vertical */
    align-items: stretch;


}

header {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1/9;
    /* background-color: cadetblue; */
    
    
}

header img {
    grid-column: 2/3 ;
    grid-row: 1/2;
    padding:1em;
    align-self: center;
}

header ul {
grid-column: 4/8;
grid-row: 1/2;
display:inline-block;
text-align: end;
padding-right:3vw;
}

header ul li {
  
    display:inline-block;
    text-decoration: none;
    padding:4vh 2vw 0 4vw;
    font-size:18px;
    
}




header ul li :hover{
    color:cadetblue;
    
    
}





.herosection {

    grid-column: 2/8;
    grid-row:2/4;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /* border-bottom: 1px solid black; */
}


.heroimage {
   grid-column: 6/9;
   grid-row:1/3;
   justify-self: end;
   padding:3vh 3vw 0 0;
   align-self: end;
   margin-bottom: -0.5vh;
}


.left {
    grid-column: 1/6;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 2fr .1fr .5fr 3fr;
    color: black;
}



.herosection .left h1 {
    grid-column: 1/6;
    grid-row: 2/3;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    /* 1rem=16px */
    font-weight: bold;
    padding:0;
    margin:0;
    align-self: end;
}



.herosection .left h3 {
    grid-column: 1/6;
    grid-row: 3/4;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    padding:0;
    margin:0;
}



.herosection .left h5 {
    grid-column: 1/6;
    grid-row: 4/5;
    font-size: 1.25rem;
    font-weight: normal;
    /* font-size: 1.25rem; */
    margin:0;
    color:#464646;
    padding-top:1vh;
}

.border3 {
    grid-column: 2/8;
    grid-row: 3/4;
    border-bottom: 1px solid black;
    height:.25vh;
    padding-top:5vh;
}

.aboutme {
    grid-column: 2/8;
    grid-row:4/6;
    width: 60vw;
    margin:0 auto;
    /* background-color: blueviolet; */
}

/* 2nd line of the page */
.border1 {
    grid-column: 2/8;
    grid-row: 6/7;
    border-bottom: 1px solid black;
    height:.25vh;
    padding-top:10vh;
}

.aboutme h3 {
    color: black;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    padding-top: 3vh;
    /* background-color: blueviolet; */
}

.big {
    line-height: 1.8;
}

.flex-row {
    display: flex;
    grid-column: 2/8;
}


.flex-row p {
    margin-right: 1vw;
}

/* icons it goes clockwise */
.flex-row a {
    margin: 0 1vw 0 1vw;
    /* it adds space between 2 lines */
       padding-top: .5vh;
}
.aboutme button{
    height: 60px;
    width: 200px;
    grid-column: 7/8;
    /* grid-row: ; */
    /* use "margin-left auto" to push things to the right */
    margin-left: auto;
    /* add cursor:pointer to <a> to show the little hand*/
    cursor: pointer;
    border-color: cadetblue;
    /* background: #56C6C3; */
    color: white;
    text-transform: uppercase;
    font-size: 1.5;
    border-radius: 5px;
    margin-left: auto;
    background-image: url(../images/moonfooter.jpg);
}
  .selectedwork {
    grid-column: 2/8;
    grid-row: 7/12;
    width: 60vw;
    margin: 0 auto;
  }
.selectedwork a img {
    width: 60vw;
    padding: 5vh 0 5vh 0;
}
.selectedwork h3 {
    color: black;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    padding-top: 7vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* .selectedwork p {
    padding-top: -1vh;
    width: 35vw;
} */

.border2 {
    grid-column: 2/8;
    grid-row: 12/14;
    border-bottom: 1px solid black;
    height: .25vh;
    padding-top: 7vh;
}
#contact {
    grid-column: 2/8;
    grid-row: 13/15;
    /* 60% of the width and center */
    width: 60vw;
    margin: 0 auto;
    padding-top: 10vh;
}
#contact h3 {
    grid-column: 1/6;
    grid-row: 3/4;
   font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight:bold ;
    margin: 0;
    padding: 0;
    color: black;
}
#contact p {
    grid-row: 4/5;
    font-size: 1rem;
    padding-bottom: 7vh;
}
form {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 18px;
    font-weight:500;
    color: black;
}
form #fname {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-right: 2vw;
}
form #lname {
    grid-column: 5/9;
    grid-row: 1/2;
    margin-left: 2vw;
}
form #email {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-right: 2vw;
}
form #phonenumber {
    grid-column: 5/9;
    grid-row: 2/3;
    margin-left: 2vw;
}
form #message {
    grid-column: 1/9;
    grid-row: 3/4;
}
input {
    width: 100%;
    height: 2rem;
    border: 1px solid lightgrey;
    margin: .5vh 2vw 2vh 0;
}
form button {
    grid-column: 7/9;
    grid-row: 5/6;
    /* background: #56C6C3; */
    background-image: url(../images/moonfooter.jpg);
    color: white;
    text-transform: uppercase;
    font-size: 1.5;
    border-radius: 5px;
    border-color: cadetblue;
    height: 60px;
    width: 200px;
    cursor: pointer;
    margin-left: auto;
}
#footer {
    grid-column: 1/9;
    grid-row: 17/19;
    background-image: url("../images/moonfooter.jpg");

    /* background: #3F3F3F; */
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#footername {
    grid-column: 2/8;
    grid-row: 1/2;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight:bold ;
    justify-self: center;
    padding: 2vh 0 1vh 0;
}
#social {
    grid-column: 2/8;
    grid-row: 2/3;
    justify-self: center;
    padding: 1vh 0 2vh 0;
}
#social a{
    padding: 0 1vw;
}
#social a img{
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    transition: .5s ease-in-out;
}
#social a img:hover {
    background: whitesmoke;
}





